Repository sajidhasan007/to-do-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["yarn lint"],
	"*.{ts, tsx, css, scss}": ["yarn format"]
}

add todo list
  package.json
  src/App.tsx
  src/components/ToDoList.tsx
  src/components/TodoHeader.tsx
  src/components/index.ts
  src/styles/index.scss
  yarn.lock
Due: yarn lint, yarn format

add page has been added
  package.json
  src/App.tsx
  src/components/AddToDo.tsx
  src/components/ToDoList.tsx
  src/components/TodoHeader.tsx
  src/components/common/Loading.tsx
  src/components/common/index.ts
  src/components/index.ts
  src/routes/index.tsx
  src/styles/index.scss
  tailwind.config.js
  yarn.lock
Due: yarn lint, yarn format

CRUD operation added
  src/components/EditTodo.tsx
  src/components/ToDoList.tsx
  src/components/index.ts
  src/lib/helpers/index.ts
  src/model/todoModel.ts
  src/routes/index.tsx
  src/styles/index.scss
  tailwind.config.js
Due: yarn lint, yarn format

add make complete button functionality
  src/components/EditTodo.tsx
  src/components/ToDoList.tsx
Due: yarn lint

disable any rule
  src/components/ToDoList.tsx
Due: yarn lint

switch background color problem solved
  src/components/ToDoList.tsx
  src/styles/index.scss
Due: yarn lint

code refactor
  src/api/todo/todo.ts
  src/components/EditTodo.tsx
  src/components/ToDoList.tsx
  src/model/todoModel.ts
Due: yarn lint, yarn format

add readme file
  README.md
Due: none

build error solved
  src/components/AddToDo.tsx
  src/components/common/Loading.tsx
Due: yarn lint
